*.exe
*.exe~
*.dll
*.so
*.dylib
*.a
*.o
*.obj
*.test
*.out
*.coverprofile
coverage.out
coverage.html
cpu.prof
mem.prof
trace.out
go.work
.idea/*
!.idea/codeStyles/
!.idea/runConfigurations/
*.iws
out/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
.ionide
*~
.directory
.Trash-*
.fuse_hidden*
.nfs*
.DS_Store
.AppleDouble
.LSOverride
._*
Icon
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.stackdump
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
build/
dist/
bin/
output
output.*
!output.c
*.elf
*.bin
*.wasm
*.tmp
*.temp
*.log
.cache/
docs/
test.txt
tests/azin/output/
!go.sum